<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Create A Basketball Team</title>
 </head>
 
 <body>
 <form method="POST" action ="/team"></form>
 
 <label>Team name: <input type="text" name="name"/></label><br/>
 <label>Coach: <input type=</label>
 
 
 </body>
</html>


